---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=API_ID&key=API_KEY&q=Who%20is%20the%20most%20popular%20artist%20in%202014?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/wTso3yKJPSkapWANvEBh88Hq_EI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx=API_ID{cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - Who is the most popular artist in 2014?",
            "totalResults": "1850",
            "searchTerms": "Who is the most popular artist in 2014?",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": ""
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - Who is the most popular artist in 2014?",
            "totalResults": "1850",
            "searchTerms": "Who is the most popular artist in 2014?",
            "count": 10,
            "startIndex": 11,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": ""
           }
          ]
         },
         "context": {
          "title": "artsy.net"
         },
         "searchInformation": {
          "searchTime": 0.521996,
          "formattedSearchTime": "0.52",
          "totalResults": "1850",
          "formattedTotalResults": "1,850"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "The Top 14 Living Artists of 2014",
           "htmlTitle": "The \u003cb\u003eTop\u003c/b\u003e 14 Living \u003cb\u003eArtists\u003c/b\u003e of \u003cb\u003e2014\u003c/b\u003e",
           "link": "https://www.artsy.net/article/artsy-editorial-the-top-14-living-artists-of-2014",
           "displayLink": "www.artsy.net",
           "snippet": "Jan 19, 2015 ... If you had to name the most successful living artist of 2014—who would you \nchoose? Chances are, he or she is on the list below. From art ...",
           "htmlSnippet": "Jan 19, 2015 \u003cb\u003e...\u003c/b\u003e If you had to name the \u003cb\u003emost\u003c/b\u003e successful living \u003cb\u003eartist\u003c/b\u003e of \u003cb\u003e2014\u003c/b\u003e—who would you \u003cbr\u003e\nchoose? Chances are, he or she is on the list below. From art&nbsp;...",
           "cacheId": "zmXXvYYwzRAJ",
           "formattedUrl": "https://www.artsy.net/.../artsy-editorial-the-top-14-living-artists-of-2014",
           "htmlFormattedUrl": "https://www.artsy.net/.../artsy-editorial-the-\u003cb\u003etop\u003c/b\u003e-14-living-\u003cb\u003eartists\u003c/b\u003e-of-\u003cb\u003e2014\u003c/b\u003e",
           "pagemap": {
            "cse_thumbnail": [
             {
              "width": "225",
              "height": "225",
              "src": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR4EgHAFOsZZD3e9LpXT-klukL_TW6M7RilH_z4wmBpGQFIt6QeJnXdU9Wl"
             }
            ],
            "metatags": [
             {
              "msapplication-config": "/images/browserconfig.xml",
              "al:ios:app_store_id": "703796080",
              "al:ios:app_name": "Artsy",
              "al:ios:url": "https://www.artsy.net/article/artsy-editorial-the-top-14-living-artists-of-2014",
              "apple-itunes-app": "app-id=703796080, app-argument=https://www.artsy.net/article/artsy-editorial-the-top-14-living-artists-of-2014",
              "fb:pages": "342443413406",
              "fb:admins": "7961740",
              "fb:app_id": "308278682573501",
              "viewport": "user-scalable=1, width=1300",
              "og:title": "The Top 14 Living Artists of 2014",
              "og:site_name": "Artsy",
              "og:url": "https://www.artsy.net/article/artsy-editorial-the-top-14-living-artists-of-2014",
              "og:type": "article",
              "og:published_time": "2015-01-19T20:49:59.000Z",
              "article:published_time": "2015-01-19T20:49:59.000Z",
              "article:publisher": "https://www.facebook.com/artsy/",
              "og:image": "https://artsy-media-uploads.s3.amazonaws.com/j5e1eiJVr66L5FzzPGFTAA%2Flarge.jpg",
              "twitter:image": "https://artsy-media-uploads.s3.amazonaws.com/j5e1eiJVr66L5FzzPGFTAA%2Flarge.jpg",
              "twitter:site": "@artsy",
              "twitter:url": "https://www.artsy.net/article/artsy-editorial-the-top-14-living-artists-of-2014",
              "twitter:card": "summary_large_image",
              "cre": "Artsy",
              "news_keywords": "Damien Hirst, Ed Ruscha, Ai Weiwei, Banksy",
              "article:tag": "Damien Hirst, Ed Ruscha, Ai Weiwei, Banksy",
              "sailthru.tags": "article,artsy-editorial,magazine,Damien Hirst,Ed Ruscha,Ai Weiwei,Banksy",
              "sailthru.date": "2015-01-19T20:49:59.000Z",
              "fragment": "!"
             }
            ],
            "cse_image": [
             {
              "src": "https://artsy-media-uploads.s3.amazonaws.com/j5e1eiJVr66L5FzzPGFTAA%2Flarge.jpg"
             }
            ],
            "searchaction": [
             {
              "query-input": "readonly"
             }
            ]
           }
          },
          {
           "kind": "customsearch#result",
           "title": "The Top 10 Artists Under 35 in 2014",
           "htmlTitle": "The \u003cb\u003eTop\u003c/b\u003e 10 \u003cb\u003eArtists\u003c/b\u003e Under 35 in \u003cb\u003e2014\u003c/b\u003e",
           "link": "https://www.artsy.net/article/artsy-editorial-the-top-10-artists-under-35-in-2014-12-23-14",
           "displayLink": "www.artsy.net",
           "snippet"[...]
